@media screen and (max-width: 535px) {
  /* common */
  .wrap {
    flex-direction: column;
  }

  .side_bar {
    width: 100%;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    border-right: none;
    border-bottom: 1px solid var(--color-point);
    padding: 10px 16px;
  }

  .side_top {
    flex-direction: row;
  }

  .write_btn,
  .side_menu_area,
  .logout {
    display: none;
  }

  .main_area {
    width: 100%;
    padding: 32px 16px 0px;
  }

  .pagenation {
    margin-top: 20px;
  }

  /* step01 */
  .category_area {
    padding-bottom: 32px;
  }

  /* step02 */
  .writing_area,
  .detailed_category_area,
  .comment_area {
    width: 100%;
  }
}
