.writing_area,
.detailed_category_area,
.comment_area {
  width: 60%;
  margin: auto;
  display: block;
  height: auto;
  background-color: var(--color-primary);
}

.writing_area {
  margin-bottom: 21px;
  padding: 22px 20px;
}

.writing_top {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.writing_title_big {
  font-weight: 500;
  margin-bottom: 5px;
}

.writing_info {
  color: var(--color-third-txt);
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.writing_btns {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 12px;
}

.detailed_category_area {
  padding: 12px 18px;
  margin-bottom: 21px;
}

.detailed_title {
  color: var(--color-basic-txt);
  font-size: 14px;
  font-weight: 350;
  margin-bottom: 8px;
}

.menu_name {
  color: var(--color-point);
}

.detailed_box > li {
  margin-bottom: 4px;
}

.detailed_box > li:last-child {
  margin-bottom: 0;
}

.detailed_list {
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  transition: 0.1s;
}

.detailed_list > p {
  color: var(--color-basic-txt);
  font-size: 14px;
}

.detailed_list:hover {
  opacity: 1;
}

.comment_area {
  padding: 12px 18px;
}

.comment_form {
  width: 100%;
}

.comment_name {
  position: relative;
  width: auto;
  height: 40px;
  border-radius: 4px;
  background: var(--color-secondary);
  border: 1px solid var(--color-point);
  padding-left: 8px;
  color: var(--color-basic-txt);
  font-size: 16px;
  margin-bottom: 6px;
}

.comment_txt {
  width: calc(100% - 58px);
  height: 40px;
  border-radius: 4px;
  background: var(--color-secondary);
  border: none;
  outline: none;
  padding-left: 8px;
  color: var(--color-basic-txt);
  font-size: 16px;
}

.comment_name::placeholder,
.comment_txt::placeholder {
  color: var(--color-third-txt);
  font-size: 12px;
  font-weight: 300;
}

.comment_name:focus,
.comment_txt:focus {
  outline: 1px solid var(--color-point);
}

.comment_box {
  width: 100%;
  height: auto;
}

.comment_box > li {
  margin-top: 20px;
}

.name {
  color: var(--color-second-txt);
  font-size: 14px;
  font-weight: 500;
  margin-right: 8px;
}

.comment {
  color: var(--color-basic-txt);
  font-size: 14px;
  font-weight: 300;
  margin-top: 2px;
}

.restore_btn,
.public_btn {
  display: none;
}

.navi {
  position: absolute;
  top: 200px;
  right: 10%;
}

.navi_btn {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  cursor: pointer;
}
.navi_btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 6.5px;
  width: 2px;
  height: 38px;
  background-color: var(--color-third-txt);
}

.navi_dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--color-third-txt);
  box-shadow: none;
}

.navi_label {
  color: var(--color-third-txt);
  font-size: 14px;
  font-weight: 400;
  margin-left: 6px;
}

.navi_btn:hover > .navi_dot {
  background-color: var(--color-basic-txt);
}

.navi_btn:hover > .navi_label {
  color: var(--color-basic-txt);
}

.navi > ul > li:last-child::after {
  display: none;
}
