.category_area {
  width: 100%;
  max-width: 555px;
  margin: auto;
}

.category_list {
  display: block;
  width: 100%;
  height: auto;
  padding: 15px 21px;
  background-color: var(--color-primary);
  margin-bottom: 10px;
  transition: 0.1s;
}

.category_list:hover {
  background-color: var(--color-secondary);
}
